/*
color-primario: #8a2be2;
color-secundario: #7fffd4;
color-terciario: #9864c9;
*/
h1{
    color:#8a2be2;
    font-size: 20px;
}
body, footer{
    background-color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #9864c9;
}
