h1{
    font-size: 20px;
    background-size: cover;
}
body, footer{
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
li{
    padding: 1em;
}
form{
    width: 100%;
    max-height: 600px;
    padding: 1em;
    background-image: url(../aaproclase3-1/img/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    gap: 1em;    
}
.contenedor{
    background-image: url(../aaproclase3-1/img/gringa.jpeg);
    width: 100%;
    height: 520px;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
ul{    
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
}
main{
    display: grid;
    gap: 1em;
}
footer{
    display: flex;
    font-weight: bold;
    margin-top: 20px;
}
@media (min-width:720px){
    .contenedor1{
        width: 100%;
        flex-direction: column-reverse;
    }    
    .card{
        grid-template-columns: spa;
    }
    .card1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .card2{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    form{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
@media (min-width:992px){
    .contenedor1{
        width: 100%;
        flex-direction: column-reverse;
    }    
    .card{
        grid-template-columns: spa;
    }
    .card1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .card2{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    form{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}